* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-google {
    background-color: #e04f35;
    color: #fff;
}



/* navbar start*/
.sidebar{
    text-align: center;
    width:15%;
    height:91vh;
    background-color:#343A40;

}
.list-group-item {
    background-color:#343A40;
    color:white;

}
.list-group-item:hover {
    color: black;
}
/* navbar end */